
body{
    font-family: Arial,Helvetica,sans-serif; 
}

#wrapper{
    display: grid;
    min-width: 100vw;
    grid-template-areas:
    "hd"
    "nv" ;
   
  
}

#main_container{
display: grid;
grid-template-areas: 
"sec1" 
"sec2";

}

#head{
    grid-area: hd;
    border: solid 1px black;
    height: 85vh;
}

nav{
    height:20vh;
    grid-area: nv;
    border: solid 1px black;
}


main{ 
    border: solid 1px black; 
}

footer{
    border: solid 1px black; 
}

header{
    border: solid 1px black;

}

#sec1{
 height: 45vh;
   grid-area: sec1;
    display: grid;
    border: solid 1px black; 
      grid-template-areas: 
    "art11 art12 art13" ;
   
}

#sec2{
height: 45vh;
  grid-area: sec2;
    display: grid; 
    border: solid 1px black; 

grid-template-areas: 
"art21 art22 art23";
}

#art11{
    grid-area: art11;
    border: solid 1px black; 
}

#art12{
    grid-area: art12;
    border: solid 1px black; 
}

#art13{
    grid-area: art13;
    border: solid 1px black; 
}

#art21{
    grid-area: art21;
    border: solid 1px black; 

}

#art22{
    grid-area: art22;
    border: solid 1px black; 
}

#art23{
    grid-area: art23;
    border: solid 1px black; 
}

































#wrapp{
border: solid 1px black; 
min-height: 100vh; 
min-width: 100vh; 
margin: auto; 

}

#page_container{
min-height: 100vh; 
min-width: 100vh; 
background-color:slategray;
}




#big_picture_layer{
    border: solid 1px black;
    height: 5rem;
}

#sec1-1{
    border: solid 1px black;
    height: 5rem;
}

#sec1-2{
    border: solid 1px black; 
    height: 5rem; 
}

#sec2-1{
    border: solid 1px black; 
    height: 5rem;
}

#sec-img{
    border: solid 1px black; 
    height: 5rem;
}

#sec2-3{
    border: solid 1px black; 
    height: 5rem;
    
}

footer{
    border: solid 1px black;
    height: 5rem;
}





