
body{
    font-family: Arial,Helvetica,sans-serif; 
    background-color: rgb(25, 106, 115);
    font-family: 'Unica One';
    color: white;
    font-size: 29px;
}

#wrapper{
    display: grid;
    min-width: 100vw;
    grid-template-areas:
    "hdt"
    "hd"
    "nv"
    "mc"
    "ft" ;
}

#main_container{
    grid-area:mc;
display: grid;
grid-template-areas: 
"sec1" 
"sec2";
padding-right: 2em; 
padding-left: 2em;
background-image: url(../img/natur.jpg);
background-position: center;
background-size: cover; 

}

#head{
    display: flex;
    grid-area: hd;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url(../img/art\ pancakes.jpg);
    background-size: cover;
    background-position: center ;
}

nav{
    display: flex; 
    height:20vh;
    grid-area: nv;
    background-color: rgb(1, 40, 64);
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}


footer{
    grid-area: ft;
    height: 20vh;
   background-color: rgb(1, 40, 64);
    
}

header{
grid-area: hdt;
background-color: rgb(15, 76, 89);
height: 5rem; 
display: flex; 
justify-content: flex-start;
align-items: center;
padding-inline-start: 20px;
}


  

#sec1{
 height: 35vh;
   grid-area: sec1;
    display: grid;
    border: solid 1px black; 
      grid-template-areas: 
    "art11 art11 art12" ;

}

#sec2{
height: 45vh;
  grid-area: sec2;
    display: grid; 
    border: solid 1px black; 
grid-template-areas: 
"art21 art22 art23";

}

#art11{
    display: flex;
    grid-area: art11;
    justify-content: space-around;
    justify-content: center;
    border: solid 1px black; 
   
}

#art12{
    grid-area: art12;
    border: solid 1px black; 
}


#art21{
    display:flex;
    grid-area: art21;
    border: solid 1px black; 
    align-items: center; 
    justify-content: center;
}

#art22{
    grid-area: art22;
    background-image: url(../img/art\ fire.jpg);
    background-size: cover;
    background-position: center ;
display: flex; 
align-items: center; 
justify-content: center;
}

#art23{
    display: flex; 
    grid-area: art23;
    border: solid 1px black; 
    align-items: center; 
justify-content: center;
}

#logga{
    font-size: 70px;
justify-content: center;
 

}

#meny1{
    display:flex; 
border: solid 1px black; 
width: 50%;
height: 100%;
align-items: center; 
justify-content: center;
}

#boka1{
    display:flex; 
border: solid 1px black; 
width: 50%;
height: 100%;
align-items: center; 
justify-content: center;  
  
}

#boka01{
    border: solid 1px white; 
    font-size: 25px;
    padding: 8px;
}

#meny01{
    border: solid 1px white; 
    font-size: 25px;
    padding: 8px; 
}